$icon-font-path: '../fonts/';

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,700,700italic|Droid+Serif:400,400italic,700,700italic);

@import "override_variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower


$link-hover-bg: darken($brand-primary, 10%);
$link-border-color: darken($brand-primary, 20%);


/**********************************************
 * GENERAL
 */

///// Elements /////

body {
  font-weight: 100;
  padding: $navbar-height 0 50px;
}

h1 { margin-bottom: 30px; }
h3 { margin-bottom: 15px; font-weight: bold; }

a {
  @extend .link-3d;

  font-weight: normal;
  padding: 2px 4px;
}

section { padding-top: 70px; }


///// Classes /////

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.script {
  font-family: "Droid Serif";
}

.link-3d {
  background: $brand-primary;
  box-shadow: 0 2px 0 $link-border-color;
  color: $gray-base;
  text-decoration: none;
  transition: all .2s ease;
  transition-property: background, color;

  &:hover, &:active, &:focus {
    background: $link-hover-bg;
    color: $gray-base;
    outline: none !important;
    text-decoration: none;
  }
}

.text-primary { color: $brand-primary; }
.text-success { color: $brand-success; }
.text-info    { color: $brand-info; }
.text-warning { color: $brand-warning; }
.text-danger  { color: $brand-danger; }

.relative { position: relative; }

.buffer-top { margin-top: 80px; }

.text-large { font-size: ceil(($font-size-base * 1.2)); }
.text-light { font-weight: 100; }

.arrow-down-btn {
  border-bottom-width: 0;
  border-radius: 5px;
  box-shadow: 0 3px 0 $link-border-color;
  padding: 5px 10px;
  position: relative;

  // Triangles
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $brand-primary;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    transition: border 0.2s ease;
  }
  &:hover::after, &:active::after, &:focus::after {
    border-top-color: $link-hover-bg;
  }

  &::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid $link-border-color;
    position: absolute;
    bottom: -14px;
    left: 50%;
    margin-left: -12px;
    transition: border 0.2s ease;
  }
}

.section-title {
  border-bottom: 5px solid $gray-dark;
  margin-top: 0;
  padding-bottom: 25px;
}

.btn-primary {
  @extend .link-3d;

  box-shadow: 0 3px 0 $link-border-color;
  color: white;
  text-shadow: 0 1px 0 darken($link-hover-bg, 10%);

  &:hover, &:focus, &:active {
    color: white;
  }
  &:focus {
    box-shadow: 0 3px 0 $link-border-color, 0 0 10px 1px #009CFF;
  }
}

.btn-info {
  box-shadow: 0 3px 0 darken($brand-info, 20%);
  color: darken($brand-info, 50%);
}

.panel .col-sm-4:not(:first-child){
  margin-top: 30px;
}

.img-rounded {
  border-radius: $border-radius-base;
}


///// Icons /////

.icon-bg {
  opacity: .05;
  position: absolute;
  top: -60px;
  width: 170px;
  z-index: -1;
}
.icon-bg-left {
  @extend .icon-bg;
  left: -50px;
}
.icon-bg-right {
  @extend .icon-bg;
  right: -25px;
}

h2 .glyphicon { margin-right: 15px; }

.icon-large { font-size: 80px; }
.icon-center { display: block; text-align: center; }


///// Social /////

.social { margin-bottom: 20px; }
.social a {
  background: none;
  box-shadow: none;
  color: inherit;
  display: inline-block;
  padding: 0;
  padding: 0 10px 0 10px;
  border: 0;
}
.social img {
  margin-right: 3px;
  opacity: .6;
  transition: opacity 0.2s ease;
  width: 40px;
}
.social a:hover img { opacity: 1; }



/**********************************************
 * Navigation
 */

.navbar {
  font-size: ceil(($font-size-base * 1.125));
  font-weight: 300;
  margin: 0;

  a {
    background: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    transition: all .2s ease;
    transition-property: background, color;
  }
}
.navbar-inverse .navbar-brand {
  color: $text-color;
  font-size: ceil(($font-size-base * 1.75));
}



/**********************************************
 * Jumbotron
 */

.jumbotron {
  border-bottom: 15px solid $gray-dark;
  margin: 0;
  padding: 80px 0 0;

  .rocket-image {
    margin: -80px 0 0 0;
    text-align: center;

    img {
      display: inline;
      max-width: 95%;
    }
  }

  .countdown {
    // background: url(/images/countdown.png) no-repeat center left;
    margin: -20px 0 15px -170px;
    padding-left: 313px;

    img {
      height: auto;
      margin: 0 10px 0 -280px;
      opacity: .5;
      width: 261px;
    }
  }

  p {
    font-size: $font-size-large;
    margin-bottom: 20px;
  }

  .arrow-down-btn { display: inline-block; margin-top: 0; }
}



/**********************************************
 * Projects
 */

.project-item {
  margin: 0 0 25px;

  a {
    background: none;
    box-shadow: none;
    display: block;
    padding: 0;
    position: relative;
  }

  a:hover .image-caption {
    border: 5px solid $brand-primary;
    opacity: 1;
  }

  .image-caption {
    background: rgba($body-bg, .85);
    border-radius: $border-radius-base;
    bottom: 0;
    font: 0/0 a;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all .3s ease;

    span {
      color: white;
      display: inline-block;
      font: italic 100 ceil(($font-size-base * 3)) $font-family-sans-serif;
      text-align: center;
      vertical-align: middle;
      width: 100%;
    }
  }
  .image-caption::before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}



/**********************************************
 * Forms
 */

.form-control {
  border: 1px solid transparent;
  box-shadow: 0 2px 0 darken($gray-lighter, 20%);

  &:focus {
    box-shadow: 0 2px 0 darken($gray-lighter, 20%), 0 1px 10px 2px #009CFF, 0 1px 2px 1px white;
    outline: 1px;
  }
}

form label.error {
  color: $brand-danger;
  font-size: .9em;
  margin: 5px 0 0 10px;
}



/**********************************************
 * Media Queries
 */

/* Extra small devices (phones, less than 768px) */
@media (min-width: $screen-xs-min) {}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .vertical-center {
    display: table;

    &>div {
      display: table-cell;
      float: none;
      vertical-align: middle;
    }

    & .col-sm-7 .img-responsive { width: 100%; }
  }

  .jumbotron {
    padding-top: 150px;

    .rocket-image {
      margin: 0 0 0 -90px;
      text-align: left;

      img {
        display: block;
        max-width: 130%;
      }
    }

    .countdown {
      margin-top: -50px;

      img { opacity: 1; }
    }
  }

  .panel .col-sm-4:not(:first-child){
    margin-top: 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .jumbotron {
    padding-top: 100px;

    .rocket-image { margin-left: -130px; }
    .countdown { margin-top: -10px; }
    p { font-size: $jumbotron-font-size; }
    .arrow-down-btn { margin-top: 20px; }
  }

  .panel-body { padding: 35px 45px; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .jumbotron {
    .rocket-image {
      margin-left: -70px;

      img { max-width: 105%;}
    }

    .countdown { margin-top: 25px; }
  }
}
